body {
    background-color: #f9f9f9;
}

.bordacinza {
    border: 1px solid rgba(128, 128, 128, 0.356);
}

.cadastre {
    color: #0B5ED7;
    font-weight: 700;
}

a.btn {
    font-weight: 600;
}
