.m1 {
    border: 2px solid red;
}

.m2 {
    border: 2px solid green;
}

.m3 {
    border: 2px solid blue;
}

.bordacinza {
    border: 1px solid grey;
}

.cadastre {
    color: #0B5ED7;
    font-weight: 700;
}