.m1 {
    border: 2px solid red;
}

.m2 {
    border: 2px solid blue;
}

body {
    font-family: "Lato";
    background-color: rgb(175, 207, 207);
}


.jogo {
    position: relative;
    margin-top: 10vh!important;
    z-index: 2!important;
}

#blue {
    background-color: rgb(74, 74, 223);
    border-radius: 100% 0 0 0;
    border: 3px solid black;

}

#red {
    background-color: rgb(231, 56, 56);
    border-radius: 0 0 0 100%;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

#green {
    background-color: rgb(45, 175, 45);
    border-radius: 0 100% 0 0;
    border-top: 3px solid black;
    border-right: 3px solid black;
}

#yellow {
    background-color: rgb(245, 245, 36);
    border-radius: 0 0 100% 0;
    border: 3px solid black;
}

.cor {
    box-shadow: rgba(14, 30, 37, 0.253) 8px 8px 8px 8px, rgba(14, 30, 37, 0.473) 0px 2px 16px 0px;
    cursor: pointer;
}

.dont-click {
    pointer-events: none;
}

.active {
    box-shadow: rgba(255, 255, 255, 0.438) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.568) 0px 18px 36px -18px inset;  
}

.start {
    position: absolute;
    top: 50%;
    left: 51%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#start {
    background-color: rgb(175, 207, 207);
    border-radius: 100%;
    border-width: 3px;
    z-index: 1;
}

#start:hover {
    background-color: black;
    transition: 0.7s;
}

#start:disabled {
    background-color: rgb(175, 207, 207);
    opacity: 100;
}

.score {
    position: fixed;
    top: 10vh;
    left: 2vw;
    width: 15vw;
    background-color: black;
    color: whitesmoke;
    border-radius: 1rem;
}

.selected {
    background-color: rgb(225, 224, 224)!important;
}

.teste {
    position: absolute;
    top: 0;
    right: 0;
}