

:root {
  --verde: #008000;
  --vermelho: #ff0000;
  --amarelo: #ffff00;
  --azul: #0000ff;
  --branco: #ffffff;
  --preto: #000000;
  --cinza: #6e6e6e;
  --azulPastel: #aec6cf;
}

.dark:root {
  --verde: #008000cc;
  --vermelho: #ff0000cc;
  --amarelo: #ffff00cc;
  --azul: #0000ffcc;
  --branco: #000000;
  --preto: #ffffff;
  --cinza: #aec6cf;
  --azulPastel: #6e6e6e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  margin: 0;
  background-color: var(--azulPastel);
}

.btns-container {
  background-color: var(--branco); 
  position: fixed;
  margin: 0 auto;
  width: 600px;
  height: 500px;
  margin-left: 8%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}

#startBtn {
  border-radius: 50%;
  color: var(--preto);
  background-color: var(--branco);
  border: 15px solid #000000;
  height: 150px;
  width: 150px;

  font-size: 18px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#startBtn:hover {
  color: var(--cinza);
  cursor: pointer;
}

.game-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simon {
  border: 15px solid #000000;
  background-color: #000000;
  border-radius: 100%;
  display: grid;
  grid-template-areas: 'verde vermelho' 'amarelo azul';
  grid-gap: 15px;
  position: fixed;
  width: 500px;
  height: 500px;
}

.green {
  grid-area: verde;
  background-color: var(--verde);
  border-top-left-radius: 100%;
  cursor: pointer;
}

.red {
  grid-area: vermelho;
  background-color: var(--vermelho);
  border-top-right-radius: 100%;
  cursor: pointer;
}

.yellow {
  grid-area: amarelo;
  background-color: var(--amarelo);
  border-bottom-left-radius: 100%;
  cursor: pointer;
}

.blue {
  grid-area: azul;
  background-color: var(--azul);
  border-bottom-right-radius: 100%;
  cursor: pointer;
}

.red:hover, .blue:hover, .yellow:hover, .green:hover {
	transform: scale(1.05);
}

.selected {
  opacity: 0.4;
}

.group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 5px 0;
}

.hud {
  border: 2px solid #000000;
  border-radius: 30px;
  background-color: var(--preto);
  color: var(--branco);
  position: absolute;
  left: 10px;
  top: 10px;
  width: 120px;
  height: 110px;
  padding: 20px;
}

.scoreboard {
  font-size: 15px;
}

/* Dark Mode Feature */ 

.dark-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
	height: 10vh;
}

.checkbox {
  position: absolute;
	opacity: 0;
}

.label {
	background-color: var(--branco);
	border-radius: 25px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	height: 15px;
	width: 30px;
	transform: scale(1.5);
}

.label .ball {
	background-color: var(--preto);
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 11px;
	width: 11px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(15px);
}

.fa-moon {
  color: var(--azul);
	transform: scale(0.5);
}

.fa-sun {
  color: var(--vermelho);
	transform: scale(0.5);
}