.m1 {
    border: 2px solid red;
}

.m2 {
    border: 2px solid blue;
}

.score {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 2rem;
    height: 40px;
}

.game {
    position: relative;
    width: 1000px;
    height: 400px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    background-color: #FAFAFA;
    background-image: url(/media/background.png);
    background-repeat: repeat-x;
    background-position-y: bottom;
    background-position-x: 0px;
}

#dino {
    position: absolute;
    bottom: 2px;
    left: 100px;
}

.cactus {
    position: absolute;
    bottom: 2px;
    right: 0px;
}

#check-dino {
    background-color: transparent;
    height: 60px;
    width: 10px;
    position: absolute;
    bottom: 2px;
    left: 190px;
}

#check-cacto-x {
    background-color: transparent;
    height: 60px;
    width: 10px;
    position: absolute;
    bottom: 2px;
    right: 20px;
}