body {
    background-color: rgb(82, 77, 77);
}

.container {
    width: 40vw;
    
    perspective: 1000px;
}

.card {
    height: 22vh;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: rgb(180, 174, 154);
    text-align: center;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.active {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    max-height: 100%;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

footer {
    font-family: 'federo';
    color: rgba(223, 220, 220, 0.767);
    font-style: oblique;
}